:root {
    --main-color:#F13C6E;
    --bg-color:#E5E5E5;
    --black: #33333; 
    --gutter: 15px;
    
}

html{
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    font-size: 16px;
}

body{
    line-height: 1.4;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus{
    outline:none;
}

.container{
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding:0 30px;
}



.header-top{
    background: #E5E5E5;
    padding-top: 17px;
    padding-bottom: 17px;
}
.header-top ul{

    display: flex;
    justify-content: center;

}

.header-top_item{

    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
    text-decoration:none;
    color:var(--black);
}

.header-bottom{
    padding-top: 17px;
    padding-bottom: 17px;
}

.header-bottom ul {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--bg-color);
    padding-top: 30px;
}

.header-bottom_item{
    margin-left:20px;
    margin-right:20px;
    text-decoration:none;
    color:var(--black);
}

.bg_image {
    background-image: url('../image/product/bg-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 604px;
    padding:192px 0 ;
    }




h1{
    display: block;
    color:#FFFFFF;
    font-size:48px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 25px;

}

.bg_text{ 
    
    color:#FFFFFF;
    font-size:14px;
    font-weight: normal;
    max-width: 308px;
    margin-bottom: 25px;
    margin-top: 25px;
    

}


.bg_btn {
    display: block;
    height: 40px; 
    margin-bottom: 25px;
    margin-top: 25px;  
    
}


.bg_btn_link{
    background: var(--main-color);
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    width: 170px;
    height: 40px;
    color: #FFFFFF;
    text-decoration: none;
}



.more_link {
    text-decoration: none;
    color: #FFFFFF;
}




.offers {
    background-color: var(--bg-color);
    padding-top: 80px;
    padding-bottom: 80px;
    
}

.offers__title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom:38px ;
}

.offers__cards{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grip-column-gap: */
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--gutter)* -1);
    margin-right: calc(var(--gutter)* -1);
    

}

.offers__product-card{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    margin-left: var(--gutter);
    margin-right: var(--gutter);
    padding: 30px 25px;
    width: calc(100% / 12 * 3 - 30px);
    transition: box-shadow 0.3s;   

    
}

@media screen and (max-width: 900px) {
    .product-card{
    width: calc(100% / 12 * 4 - 30px);
}
}

.offers__product-card:hover {
box-shadow: 0 5px 20px 20px #808080;
transform: translate(0, -5px) scale(1.5);
}
.offers__cards-image {
    padding-bottom: 20px;
}

.offers__product-name {
    padding-bottom: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    
}

.offers__product-price {
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 21px;
    text-align: center;
        
}
.offers__get-btn {
    background-color: var(--main-color);
    border-radius: 30px;
    padding: 9px 39px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.05em;
    border:none;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: auto;

}



.header-middle{
    padding-top: 17px;
        
}

.header-middle__parts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header-middle__logo{
    display: flex;
    align-items: center;
}


.header-middle__name{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: var(--main-color);
    padding-left: 20px;
        
}

.header-middle__search{
    max-width: 250px;
    width: 100%;
}


.header-middle__search-field{
    background-image: url('../image/product/Vector.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 40px;
    background-color: var(--bg-color);
    background-position-y: center;
    background-position-x: 20px;
    border-radius: 40px;
    border: 0;
    padding: 10px 0;
    padding-left: 45px;
    padding-right: 15px;
        

}

.header-middle__search-field:focus {
    
    border: 1px solid #808080;     
}


.header-middle__search-submit{
    display: none;
}

.header-middle__tel{
    padding-right: 40px;
    color: var(--black);
    text-decoration: none;

}
.header-middle__callback-btn{
    background-color: #fff;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    font-size: 13px;
    line-height: 16px;
    padding: 13px 26px;
    width: 170px;
    cursor: pointer;
}

.header-middle__btn-link{
    text-decoration: none;
    color: var(--black);
}

.communications {
    background-color: var(--bg-color);
    padding-top: 20px;
    padding-bottom: 80px;
    
}

.communications__cards{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grip-column-gap: */
    display: flex;
    flex-wrap: nowrap;
    margin-left: -15px;
    margin-right: -15px;
    

}



.communications__card{
    display: flex;
    flex-direction: column;
    width: calc(100% / 12 * 6 - 20px);
    background-color: var(--main-color);
    padding: 40px 35px;
    margin-left: 15px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: right 5% center;

}

.communications__card-email{
    background-image:url('../image/product/mail.png');
    background-size: 30%;

}

.communications__card-map{
    background-image:url('../image/product/map.png');
    background-size: 40%;

}

.communications__card-title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color:#FFFFFF;
    padding-bottom: 25px;
    max-width:250px;
}

.communications__card-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding-bottom: 25px;
    max-width:230px;

}

.communications__email-input {
    background: #FFFFFF;
    border-radius: 30px;
    border:none;
    height: 35px;
    max-width: 225px;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

.communications__email-submit{
    display: none;
}



.communications_map-btn {
    
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    color: #FFFFFF;
    padding: 9px 29px;
    width: 170px;
    cursor: pointer;

}

.communications_map-link{
    text-decoration: none;
    color: #fff;
}

.impuls{
    background: var(--bg-color);
    
}

.impuls__cards{
    
    display: flex;
    flex-wrap: wrap;   
}

.impuls__cards_separate{
    display: flex;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #EFEFEF;   
    width: calc(100% / 12 * 3);
    padding:35px 10px;
}


.footer-top{
    background-color: #fff;

}

.footer-top__columns{
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    padding:60px 0;
    margin-left: calc(var(--gutter)* -1);
    margin-right: calc(var(--gutter)* -1);
}

.footer-top__column{
    margin-left: calc(var(--gutter));
    margin-right: calc(var(--gutter));
    display: flex;
    flex-wrap: wrap;
}

.footer-top__column-title{
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;   
    color: var(--black); 
    border-bottom:1px solid #EFEFEF;
    padding-bottom: 30px; 
}

.footer-top__column-items{
    padding-top:25px;

    
}

.footer-top__column-item{
    
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;
    color: #828282;
}



.footer-middle{
    padding: 37px 0;
    border-top:1px solid #EFEFEF;
        
}

.footer-middle__parts{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.footer-middle__social{
    display: flex;
    flex-wrap: nowrap;
    
}

.footer-middle__icons{
    width: 45px;
    height: 45px;
    border: 2px solid var(--main-color);
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
    }

    .footer-middle__icons_youtube{
        background-image: url('../image/social/youtube.png');
    }

    .footer-middle__icons_vk{
        background-image: url('../image/social/vk.png');
    }

    .footer-middle__icons_fb{
        background-image: url('../image/social/fb.png');
    }

    .footer-middle__icons_instagram{
        background-image: url('../image/social/instagram.png');
    }
    


.footer-middle__address{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    

}



.footer-middle__tel{
    padding-right: 40px;
    color: var(--black);
    text-decoration: none;

}
.footer-middle__callback-btn{
    background-color: #fff;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    font-size: 13px;
    line-height: 16px;
    padding: 13px 26px;
    width: 170px;
    cursor: pointer;
}

.footer-middle__btn-link{
    text-decoration: none;
    color: var(--black);
}


.footer-bottom {
    background-color: var(--bg-color);
}
.footer-bottom__legal {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 25px 0;
}
.footer-bottom_text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282;

}
.footer-bottom__private-policy {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    text-decoration:none;
}














