:root {
    --main-color:#F13C6E;
    --bg-color:#E5E5E5;
    --black: #33333; 
    --gutter: 10px;
    
}

html{
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    font-size: 16px;
}

body{
    line-height: 1.4;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus{
    outline:none;
}

.container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding:0 20px;
}



.header-top{
    background: #E5E5E5;
    padding-top: 17px;
    padding-bottom: 17px;
}
.header-top ul{

    display: flex;
    justify-content: center;

}

.header-top ul > li{

    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
}

.header-bottom{
    padding-top: 17px;
    padding-bottom: 17px;
}

.header-bottom ul {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--bg-color);
    padding-top: 30px;
}

.header-bottom ul > li{
    margin-left:20px;
    margin-right:20px;
    

}
.bg_image {
    background-image: url('../image/product/bg-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 604px;
    padding:192px 0 ;
    }




h1{
    display: block;
    color:#FFFFFF;
    font-size:48px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 25px;

}

.bg_text{ 
    
    color:#FFFFFF;
    font-size:14px;
    font-weight: normal;
    max-width: 308px;
    margin-bottom: 25px;
    margin-top: 25px;
    

}


.bg_btn {
    display: block;
    height: 40px; 
    margin-bottom: 25px;
    margin-top: 25px;  
    
}


.bg_btn_link{
    background: var(--main-color);
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    width: 170px;
    height: 40px;
    color: #FFFFFF;
    text-decoration: none;
}



.more_link {
    text-decoration: none;
    color: #FFFFFF;
}




.offers {
    background-color: var(--bg-color);
    padding-top: 80px;
    padding-bottom: 80px;
    
}

.offers__title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom:38px ;
}

.offers__cards{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grip-column-gap: */
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--gutter)* -1);
    margin-right: calc(var(--gutter)* -1);
    

}

.offers__product-card{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    margin-left: var(--gutter);
    margin-right: var(--gutter);
    padding: 30px 25px;
    width: calc(100% / 12 * 3 - 30px);
    transition: box-shadow 0.3s;   

    
}

@media screen and (max-width: 900px) {
    .product-card{
    width: calc(100% / 12 * 4 - 30px);
}
}

.offers__product-card:hover {
box-shadow: 0 5px 20px 20px #808080;
transform: translate(0, -5px) scale(1.5);
}
.offers__cards-image {
    padding-bottom: 20px;
}

.offers__product-name {
    padding-bottom: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    
}

.offers__product-price {
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 21px;
    text-align: center;
        
}
.offers__get-btn {
    background-color: var(--main-color);
    border-radius: 30px;
    padding: 9px 39px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.05em;
    border:none;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: auto;

}



.header-middle{
    padding-top: 17px;
        
}

.header-middle__parts{
    display: flex;
    align-items: center;
    
}

.header-middle__name{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: var(--main-color);
    padding-left: 20px;
    padding-right: 152px;
    
}


.header-middle__search-field{
    background-image: url('../image/product/Vector.png');
    background-repeat: no-repeat;
    width: 250px;
    height: 40px;
    background-color: var(--bg-color);
    background-position-y: center;
    background-position-x: 20px;
    border-radius: 40px;
    border: 0;
    padding: 10px 0;
    padding-left: 45px;
    padding-right: 30px;
        

}

.header-middle__search-field:focus {
    
    border: 1px solid #808080;     
}


.header-middle__search-submit{
    display: none;
}

.header-middle__telephone{
    padding-left: 93px ;
    padding-right: 40px;
    color: var(--black);

}
.header-middle__callback-btn{
    background-color: #fff;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    font-size: 13px;
    line-height: 16px;
    padding: 13px 26px;
    width: 170px;

}

.communication {
    background-color: var(--bg-color);
    padding-top: 20px;
    padding-bottom: 80px;
    
}

.cards-comm{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grip-column-gap: */
    display: flex;
    flex-wrap: nowrap;
    margin-left: -15px;
    margin-right: -15px;
    

}



.commun_email{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: calc(100% / 12 * 6 - 20px);
    background-color: var(--main-color);
    padding: 40px 35px;
    margin-left: 15px;
    margin-right: 15px;
    background-image:url('../image/product/mail.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 355px;

    
}

.commun{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color:#FFFFFF;
    padding-bottom: 25px;
}

.text_commun{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding-bottom: 25px;
    

}

.email_field {
    background: #FFFFFF;
    border-radius: 30px;
    border:none;
    height: 35px;
    width: 225px;
    padding-left: 25px;
    padding-right: 25px;
}

.email_submit{
    display: none;
}

.commun_map{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: calc(100% / 12 * 6 - 20px);
    background-color: var(--main-color);
    padding: 40px 35px;
    margin-left: 15px;
    margin-right: 15px;
    background-image:url('../image/product/map.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 306px;
    
}

.shop_map_btn {
    
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    color: #FFFFFF;
    padding: 9px 29px;
    width: 170px;
    height:35px;

}

.impuls{
    background: var(--bg-color);
    
}

.impuls__cards{
    
    display: flex;
    flex-wrap: wrap;
    

}

.impuls__cards_separate{
    background-color: #fff;
    padding: 35px 62px;
    border: 1px solid #EFEFEF;
    
}


.footer-top{
    background-color: #fff;

}

.footer-titles{
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    
    color: var(--black);
    
    
}
.footer-titles__column-title {
    border-bottom: 1px solid #EFEFEF;
    padding-right: 156px;
    margin-right: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.footer-menu{
    display: flex;
    flex-direction: row;
    

}

.footer-menu__column {
    display: flex;
    flex-direction: column;
    padding-right: 203px;
    padding-top: 25px;
    padding-bottom: 60px;
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;
    border-bottom: 1px solid #EFEFEF;
  
}


.footer-middle{
    padding: 37px 0;
        
}

.footer-middle__parts{
    display: flex;
    align-items: center;
    margin-left: calc(var(--gutter)* -1);
    margin-right: calc(var(--gutter)* -1);    
}

.footer-middle__social{
    display: flex;
    flex-wrap: nowrap;
    padding-right: 185px;

}

.footer-middle__icons{
    width: 45px;
    height: 45px;
    border: 2px solid var(--main-color);
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
    }

    .footer-middle__icons_youtube{
        background-image: url('../image/social/youtube.png');
    }

    .footer-middle__icons_vk{
        background-image: url('../image/social/vk.png');
    }

    .footer-middle__icons_fb{
        background-image: url('../image/social/fb.png');
    }

    .footer-middle__icons_instagram{
        background-image: url('../image/social/instagram.png');
    }
    
.footer-middle__address{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    padding-right: 105px;

}

.footer-middle__telephone{
    padding-right: 40px;
    color: var(--black);
}

.footer-middle__callback-btn{
    background-color: #fff;
    border: 2px solid var(--main-color);
    border-radius: 40px;
    font-size: 13px;
    line-height: 16px;
    padding: 13px 26px;
    width: 170px;

}

.footer-bottom {
    background-color: var(--bg-color);
}
.footer-bottom__legal {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 25px 0;
}
.footer-bottom_text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282;

}
.footer-bottom__private-policy {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    text-decoration:none;
}














